@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('https://cdn.ttgtmedia.com/visuals/ComputerWeekly/Hero%20Images/Online-shopping-retail-2-adobe.jpg');
    height: 400px;
  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); width: 50%; padding: 20px 50px; margin-top: 50px;">
    <div class="d-flex justify-content-start h-100">
      <div class="text-white">
        <h1 class="mb-3">Men's Collection</h1>
        <p class="mb-3">Great Place to buy men's ware</p>
        <a class="btn btn-outline-light btn-lg" role="button" asp-controller="Products" asp-action="Store">Store</a>
      </div>
    </div>
  </div>
</div>
<!-- Hero -->
